html {
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(rgb(41, 41, 41), black);
    color: blanchedalmond;
}

h1 {
    font-family: 'VT323', monospace;
    font-size: 95px;
    letter-spacing: 4px;
    text-align: center;
    margin: 12px 0;
}

#game_board {
    display: flex;
    gap: 5%;
    justify-content: center;
    height: 400px;
    pointer-events: none;
}

.crystal {
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;
    width: 105px;
    height: 180px;
    background-image: url("../asset/crystal.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.6;
    transition: all .05s;
}

.crystal:hover {
    cursor: pointer;
}

#purple, #yellow {
    align-self: flex-end;
}

#green, #blue {
    align-self: center;
}

#purple {
    filter: invert(12%) sepia(7%) saturate(2940%) hue-rotate(230deg) brightness(72%) contrast(287%);
}

#green {
    filter: invert(16%) sepia(12%) saturate(1860%) hue-rotate(424deg) brightness(78%) contrast(140%);
}

#red {
    filter: invert(7%) sepia(6%) saturate(4620%) hue-rotate(309deg) brightness(73%) contrast(397%);
}

#blue {
    filter: invert(11%) sepia(35%) saturate(3835%) hue-rotate(183deg) brightness(88%) contrast(245%);
}

#yellow {
    filter: invert(3%) sepia(8%) saturate(2607%) hue-rotate(355deg) brightness(86%) contrast(177%);
}


button, 
#level {
    display: block;
    text-align: center;
    letter-spacing: 1px;
    margin: auto;
}

#level,
#message {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

#level_num {
    width: 25px;
}


button {
    font-family: 'VT323', monospace;
    font-size: 48px;
    color: blanchedalmond;
    padding: 8px 64px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: cadetblue;
}

button:hover {
    background: rgb(54, 97, 99);
    transition: all .2s;
}